*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


ol,ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	vertical-align: middle;
}

button {
	border: none;
}

input,textarea {
	outline:none;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}
/*flexbox.help*/

.clearfix {
	clear: both;
}


#header{
	width: 100%;
	height: 500px;
	background-color: #3e79eb;
	border-bottom: solid 3px black;
}


#header .introduce{
	position: relative;
	width: 800px;
	height: 400px;
	background-color: #3d29eb;

	padding: 10px 12px;
	border-radius: 8px;

	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.introduce img{
	position: absolute;
	border-radius: 50%;
	border: solid 3px black;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-60%);
	width: 180px;
	height: 240px;
}

.introduce h1{
	position: absolute;
	display: inline-block;
	color : white;
	width: 600px;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

#body{
	background-color: #ddd;
}

#main{
	width: 100%;
	overflow: hidden;
	margin: 50px 0;
}

#main .left{
	border-radius: 10px;
	margin-right: 50px;
	width: 500px;
	background: #d2d3d4;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.left .introduce-1.oness{
	position: relative;
	flex-wrap: wrap;
	width: 400px;
	border-radius: 10px;
	border: solid 1px black;
	margin-top: 30px;
	padding: 20px;
	left: 50%;
	transform: translateX(-50%);
}


.introduce-1 h2{
	width: 200px;
	display: block;
	color : black;
	text-align: center;
}
.introduce-1 li:first-child {
	margin-top: 20px;
}

.introduce-1 li{
	margin-bottom: 30px;
}

.introduce-1 li .technology{
	width: 100%;
	height: 40px;
	position: relative;
	display: inline-block;
}

.introduce-1 li .technology-p{
	font-size: 20px;
}

.introduce-1 li .percent{
	position: relative;
	width: 300px;
	height: 4px;
	background-color: darkred;
	margin-top: 5px;
}

.introduce-1 li .percents{
	position: absolute;
	width: 50%;
	height: 4px;
	background-color: blue;
	margin-bottom: 5px;
}

.introduce-1 li .percentp{
	margin-top: 5px;
	display: inline-block;
	font-size: 15px;
}

.introduce-1 li .technology.one .percents{
	width: 66%;
}


.introduce-1 li .technology.two .percents{
	width: 66%;
}

.introduce-1 li .technology.three .percents{
	width: 33%;
}

.introduce-1 li .technology.four .percents{
	width: 33%;
}

.introduce-1 li .technology.five .percents{
	width: 33%;
}


.left .introduce-1.twoss{
	position: relative;
	flex-wrap: wrap;
	width: 400px;
	border-radius: 10px;
	border: solid 1px black;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.introduce-1 li .technology.six .percents{
	width: 66%;
}

.introduce-1 li .technology.seven .percents{
	width: 66%;
}

.introduce-1 li .technology.eight .percents{
	width: 66%;
}

.introduce-1 li .technology.nine .percents{
	width: 100%;
}

.introduce-1 li .technology.ten .percents{
	width: 100%;
}

.introduce-1 li .technology.eleven .percents{
	width: 66%;
}

#main .right{
	width: 1000px;
	height: 1000px;
	background: white;
	justify-content: flex-start;
}

.right .project-name{
	width: 50%;
	height: 50px;
}

#footer{
	width: 100%;
	height: 200px;
	background-color: #d4d1d8;
}


#footer .email{
	position: relative;
	top : 50%;
	left: 42%;
	font-size: 20px;
	color: #035;

}










