*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


ol,ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	vertical-align: middle;
}

button {
	border: none;
}

input,textarea {
	outline:none;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}
/*flexbox.help*/

.clearfix {
	clear: both;
}


#header{
	width: 100%;
	height: 500px;
	background-color: #3e79eb;
	border-bottom: solid 3px black;
}


#header .introduce{
	position: relative;
	width: 800px;
	height: 400px;
	background-color: #3d29eb;

	padding: 10px 12px;
	border-radius: 8px;

	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.introduce img{
	position: absolute;
	border-radius: 50%;
	border: solid 3px black;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-60%);
	width: 180px;
	height: 240px;
}

.introduce h1{
	position: absolute;
	display: inline-block;
	color : white;
	width: 600px;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

#body{
	background-color: #e9e8e7;;
}

#main{
	width: 100%;
	overflow: hidden;
	margin: 50px 0;
}

#main .left{
	border-radius: 10px;
	margin-right: 50px;
	width: 500px;
	background: #d2d3d4;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.left .introduce-1.oness{
	position: relative;
	flex-wrap: wrap;
	width: 400px;
	border-radius: 10px;
	border: solid 1px black;
	margin-top: 30px;
	padding: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: #d9e1e7;
}


.introduce-1 h2{
	width: 200px;
	display: block;
	color : black;
	text-align: center;
}
.introduce-1 li:first-child {
	margin-top: 20px;
}

.introduce-1 li{
	margin-bottom: 30px;
}

.introduce-1 li .technology{
	width: 100%;
	height: 40px;
	position: relative;
	display: inline-block;
}

.introduce-1 li .technology-p{
	font-size: 20px;
}

.introduce-1 li .percent{
	position: relative;
	width: 300px;
	height: 4px;
	background-color: darkred;
	margin-top: 5px;
}

.introduce-1 li .percents{
	position: absolute;
	width: 50%;
	height: 4px;
	background-color: blue;
	margin-bottom: 5px;
}

.introduce-1 li .percentp{
	margin-top: 5px;
	display: inline-block;
	font-size: 15px;
}

.introduce-1 li .technology.one .percents{
	width: 66%;
}


.introduce-1 li .technology.two .percents{
	width: 66%;
}

.introduce-1 li .technology.three .percents{
	width: 33%;
}

.introduce-1 li .technology.four .percents{
	width: 33%;
}

.introduce-1 li .technology.five .percents{
	width: 33%;
}


.left .introduce-1.twoss{
	position: relative;
	flex-wrap: wrap;
	width: 400px;
	border-radius: 10px;
	border: solid 1px black;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: #d9e1e7;
}

.introduce-1 li .technology.six .percents{
	width: 66%;
}

.introduce-1 li .technology.seven .percents{
	width: 66%;
}

.introduce-1 li .technology.eight .percents{
	width: 66%;
}

.introduce-1 li .technology.nine .percents{
	width: 100%;
}

.introduce-1 li .technology.ten .percents{
	width: 100%;
}

.introduce-1 li .technology.eleven .percents{
	width: 66%;
}

#main .right{
	width: 1000px;
	background: white;
	justify-content: flex-start;
	border-radius: 10px;
	background: #d2d3d4;
}

.right .introduce-me{
	position: relative;
	border-radius: 20px;
	border: solid 2px black;
	width: 800px;
	height: 200px;
	margin: 50px 100px 30px;
	background: #d9e1e7;
}

.right .introduce-me h2{
	font-size: 30px;
	padding: 15px 5px 0;
	width: 35%;
	text-align: center;
}

.right .introduce-me p{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	border-left: solid 5px #000002;
	padding: 25px;
	line-height: 31px;
	width: 65%;
	height: 100%;
}

.right .project-name{
	position: relative;
	left: 30px;
	font-size: 20px;
}

.right .project-1{
	position: relative;
	border-radius: 10px;
	border: solid 1px black;
	margin:40px;
	background: #d9e1e7;
}

.right .project-1 h3{
	position: absolute;
	font-size: 25px;
	top: 30px;
	left: 30px;
}

.right .project-1 .pro-1-wrap{
	position: relative;
	margin: 80px 0 30px;
	width: 100%;
	height: 300px;
	overflow: hidden;
}


.right .project-1 .pro-1-wrap img{
	height: 100%;
	width: 50%;
	border-radius: 10px;
	border: solid 2px darkred;
	margin-left: 50px;
}

.right .project-1 .pro-1-wrap .pro-div{
	position: relative;
	width: 50%;
	height: 200px;
	flex-wrap: wrap;
	margin-right: 50px;
}

.right .project-1 .pro-1-wrap .pro-div .pro-span1{
	position: absolute;
	top: 10px;
	display: block;
	height: 100%;
	font-weight: 600;
	font-size: 18px;
	line-height: 40px;
}

.right .project-1 .pro-1-wrap .pro-div .pro1-btn{
	position: relative;
	top : 150px;
	justify-content: space-between;
}

.right .project-1 .pro-1-wrap .pro-div .pro1-a1,
.right .project-1 .pro-1-wrap .pro-div .pro1-a2 {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-right: 5px;
	border: solid 2px skyblue;
	background-color: #525292;
	color: white;
	padding: 5px;
}

.right .project-1 .pro-1-wrap .pro-div .pro1-a2{
	margin-left: 5px;
}

.right .project-1 .pro-1-wrap .pro-div .pro1-a1:hover,
.right .project-1 .pro-1-wrap .pro-div .pro1-a2:hover{
	transform: scale(1.2);
}



#footer{
	width: 100%;
	height: 200px;
	background-color: #d4d1d8;
}


#footer .email{
	position: relative;
	top : 50%;
	left: 42%;
	font-size: 20px;
	color: #035;

}










